doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/bootstrapcss/bootstrap.css')
  link(rel='stylesheet' href='/css/aofficer.css')
  title Agricultural Officer Dashboard
nav.navbar.bg-light.fixed-top
  .container-fluid
    a.navbar-brand(href='#') Farmer One DashBoard
    a.navbar-brand(href='#')
      img(src='/Images/U+FARM+Logo.png' width='120px' style='margin-left: 1100px;')
    button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
      span.navbar-toggler-icon
    #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
      .offcanvas-header(style='background-color: green;')
        h3#offcanvasNavbarLabel.offcanvas-title
          img(src='/Images/U+FARM+Logo.png' width='200px')
        button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
      .offcanvas-body
        ul.navbar-nav.justify-content-end.flex-grow-1.pe-3.sidebar
          li.nav-item
            a.nav-link(aria-current='page' href='fodashboard') HOME 
          li.nav-item
            a.nav-link(aria-current='page' href='ufregister') URBAN FARMER REGISTRATION
          li.nav-item
            a.nav-link(href='uflist') URBAN FARMER LIST
          li.nav-item
            a.nav-link(href='#') PRODUCE LIST
          li.nav-item
            form(method='POST' action='/logout')
              button.btn.btn-primary.sidebtn(type='submit') Log out
h4.card-title(style='margin-top: 100px;') List of Products
    br
    nav
    #nav-tab.nav.nav-tabs(role='tablist')
    #nav-tabContent.tab-content 
    br
    table.table.table-bordered 
        thead
            tr
                th Product Category
                th Produce Name
                th Quantity
                th Price
                th Mode of Delivery
                th Mode of Payment
                th Date of Upload
                th Status
                th Change Availability
                th Image 
        tbody
            if goods.length
                each item in goods 
                  if item.status == 'Approved'    
                    tr
                        td #{item.productcategory}
                        td #{item.producename}
                        td #{item.quantity}
                        td #{item.price}
                        td #{item.modeofdelivery}
                        td #{item.modeofpayment}
                        td #{item.dateofupload}
                        td #{item.status}
                        td #{item.availability}
                        td 
                            img(src="/"+item.image, alt="Image" width='150px' height="150px")
                        //- td #{moment(us
                        td
                            a.btn.btn-primary.btn-block(href='/produce/available/'+item._id) Availability
    div.form-row
        div.col.form-group
            a(class='button' href='/fodashboard') Back
script(src='/js/bootstrapjs/bootstrap.bundle.js')

